<section class="printing-hero section">
  <div class="container printing-hero__container">
    <h1 class="printing-hero__title section__title">МИ СТВОРЮЄМО</h1>
    <ul class="printing-hero__list list">
      <li class="printing-hero__border printing-hero__border--prototype">
        <p class="printing-hero__text">ПРОТОТИПИ</p>
      </li>
      <li class="printing-hero__border printing-hero__border--layout">
        <p class="printing-hero__text">МАКЕТИ</p>
      </li>
      <li class="printing-hero__border printing-hero__border--decor">
        <p class="printing-hero__text">ДЕКОР</p>
      </li>
      <li class="printing-hero__border printing-hero__border--design">
        <p class="printing-hero__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>
    </ul>
  </div>
</section>
